@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
<script src="https://kit.fontawesome.com/9e71a52480.js"crossorigin="anonymous"></script>.navbar-brand {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
}

.navbar {
    background-color: black;
}

body {
    background: #f6f5f7;
}

#gridview {
    text-align: center;
}

div.image {
    margin: 10px;
    display: inline-block;
}

div.image img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

div.image img:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.32), 0 0 0 0px rgba(0, 0, 0, 0.16);
}

.heading {
    padding: 10px 10px;
    border-radius: 2px;
    color: #FFF;
    background: #6aadf1;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#grid {
    margin-bottom: 30px;
}


/* Responsive Styles */

@media screen and (min-width: 1224px) {
    div.image {
        width: 300px;
    }
}

@media screen and (min-width: 1044px) and (max-width: 1224px) {
    div.image {
        width: 250px;
    }
}

@media screen and (min-width: 845px) and (max-width: 1044px) {
    div.image {
        width: 200px;
    }
}